<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="a" >
  <resultMap id="BaseResultMap" type="com.course.selection.entity.A" >
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="RANKS" property="ranks" jdbcType="INTEGER" />
  </resultMap>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.course.selection.entity.A" >
    select
    *
    from a
  </select>
</mapper>