<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course.selection.dao.CollegeMapper" >
  <resultMap id="BaseResultMap" type="com.course.selection.entity.College" >
    <id column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    college_id, name
  </sql>
  <select id="selectBy" resultMap="BaseResultMap" parameterType="com.course.selection.entity.College" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from college
    <if test="_parameter != null" >
      <include refid="_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from college
    where college_id = #{collegeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from college
    where college_id = #{collegeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBy" parameterType="com.course.selection.entity.College" >
    delete from college
    <if test="_parameter != null" >
      <include refid="_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.selection.entity.College" >
    insert into college (college_id, name)
    values (#{collegeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.course.selection.entity.College" >
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collegeId != null" >
        college_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countBy" parameterType="com.course.selection.entity.College" resultType="java.lang.Integer" >
    select count(*) from college
    <if test="_parameter != null" >
      <include refid="_Where_Clause" />
    </if>
  </select>
  <update id="updateBySelective" parameterType="map" >
    update college
    <set >
      <if test="record.collegeId != null" >
        college_id = #{record.collegeId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By__Where_Clause" />
    </if>
  </update>
  <update id="updateBy" parameterType="map" >
    update college
    set college_id = #{record.collegeId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By__Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.selection.entity.College" >
    update college
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where college_id = #{collegeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.selection.entity.College" >
    update college
    set name = #{name,jdbcType=VARCHAR}
    where college_id = #{collegeId,jdbcType=INTEGER}
  </update>
</mapper>