<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="course" >
  <resultMap id="resultMap" type="com.course.selection.entity.Course" >
    <id column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="course_code" property="courseCode" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="major_chooser" property="majorChooser" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="DECIMAL" />
    <result column="evaluation_mode" property="evaluationMode" jdbcType="BIT" />
    <result column="limit_num" property="limitNum" jdbcType="INTEGER" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="week_block" property="weekBlock" jdbcType="VARCHAR" />
    <result column="credit_type" property="creditType" jdbcType="BIT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="resultMapVo" type="com.course.selection.entity.vo.SelectedCourse" >
    <id column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="course_code" property="courseCode" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="major_chooser" property="majorChooser" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="VARCHAR" />
    <result column="evaluation_mode" property="evaluationMode" jdbcType="BIT" />
    <result column="limit_num" property="limitNum" jdbcType="INTEGER" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="week_block" property="weekBlock" jdbcType="VARCHAR" />
    <result column="credit_type" property="creditType" jdbcType="BIT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="compulsory" property="compulsory" jdbcType="BIT" />
    <result column="nlisten" property="nlisten" jdbcType="BIT" />
  </resultMap>
  
  <sql id="baseColumnList" >
    course_id      ,
    college_id     ,
	course_code    ,
	course_name    ,
	major_chooser  ,
	teacher        ,
	credit         ,
    evaluation_mode,
    limit_num      ,
    total_num      ,
    week_block     ,
    credit_type    ,
    comment        ,
    version
  </sql>
  
  <sql id="whereClause">
  	where 1=1
  	<if test="collegeId != null and collegeId != ''"><![CDATA[ and college_id = #{collegeId}]]></if>
  	<if test="courseCode != null and courseCode != ''"><![CDATA[ and course_code = #{courseCode}]]></if>
  	<if test="courseName != null and courseName != ''"><![CDATA[ and course_name like CONCAT('%', #{courseName},'%')]]></if>
  	<if test="majorChooser != null and majorChooser != ''"><![CDATA[ and major_chooser like CONCAT('%', #{majorChooser},'%')]]></if>
  	<if test="teacher != null and teacher != ''"><![CDATA[ and teacher = #{teacher}]]></if>
  </sql>
  <!-- 剩余学位、上课时间  需链接新表 暂不处理 -->
  <select id="findList" resultMap="resultMap" parameterType="java.util.Map" >
    select
    <include refid="baseColumnList" />
    from course
    <include refid="whereClause" />
    order by course_id
  </select>
  
  <!-- 按用户id返回已选课程列表 -->
  <select id="findListByUserId" resultMap="resultMapVo" parameterType="java.lang.Integer" >
    select
    <include refid="baseColumnList" />,compulsory,nlisten
    from (select course_id course_id2,compulsory,nlisten from selection where user_id = #{userId,jdbcType=INTEGER}) selected
    join course on course_id2 = course_id
    order by course_id
  </select>
  
  <select id="findListByCourseIds" resultMap="resultMapVo" parameterType="java.util.List" >
    select
    <include refid="baseColumnList" />,compulsory,nlisten
    from (select course_id course_id2,compulsory,nlisten from selection where cuorse_id in 
	<foreach collection="list" item="cuorseId" index="index" open="(" close=")" separator=",">
		#{cuorseId,jdbcType=INTEGER}
	</foreach>) selected
    join course on course_id2 = course_id
    order by course_id
  </select>
  
  <update id="totalNumIncreaseWithVersion" parameterType="com.course.selection.entity.Course" >
    update course
    set
      total_num + 1,
      version + 1,
    where
      course_id = #{courseId,jdbcType=INTEGER} and
      version = #{version,jdbcType=BIGINT}
  </update>
  
  <update id="totalNumDecreaseWithVersion" parameterType="com.course.selection.entity.Course" >
    update course
    set
      total_num - 1,
      version + 1,
    where
      course_id = #{courseId,jdbcType=INTEGER} and
      version = #{version,jdbcType=BIGINT}
  </update>
</mapper>