<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="selection" >
  <resultMap id="resultMap" type="com.course.selection.entity.Selection" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="nlisten" property="nlisten" jdbcType="BIT" />
    <result column="compulsory" property="compulsory" jdbcType="BIT" />
  </resultMap>
  
  <sql id="baseColumnList" >
    user_id, course_id, nlisten, compulsory
  </sql>
  
  <sql id="whereClause">
  	where 1=1
  	<if test="userId != null and userId != ''"><![CDATA[ and user_id = #{userId}]]></if>
  </sql>
  <!-- 剩余学位、上课时间  需链接新表 暂不处理 -->
  <select id="findList" resultMap="resultMap" parameterType="java.util.Map" >
    select
    <include refid="baseColumnList" />
    from selection
    <include refid="whereClause" />
  </select>
  <delete id="delete" parameterType="com.course.selection.entity.Selection" >
    delete from selection
    where user_id = #{userId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.course.selection.entity.Selection" >
    insert into selection (
    	user_id, course_id, nlisten, compulsory
    )
    values (
	    #{userId,jdbcType=INTEGER}, 
	    #{courseId,jdbcType=INTEGER}, 
	    #{nlisten,jdbcType=BIT}, 
	    #{compulsory,jdbcType=BIT}
	)
  </insert>
</mapper>