<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="timePlace" >
  <resultMap id="resultMap" type="com.course.selection.entity.TimePlace" >
    <id column="course_id" property="courseId" jdbcType="INTEGER" />
    <id column="week_day" property="weekDay" jdbcType="INTEGER" />
    <id column="class_no" property="classNo" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="baseColumnList" >
    course_id, week_day, class_no, place
  </sql>
  
  <sql id="whereClause">
  	where 1=1
  	<if test="collegeIds != null and collegeIds.size() > 0"><![CDATA[ and college_id in ]]>
  		<foreach collection="collegeIds" item="collegeId" open="(" separator="," close=")">
    		#{collegeId}
        </foreach>
  	</if>
  </sql>
  
  <select id="findList" resultMap="resultMap" parameterType="java.util.Map" >
    select
    <include refid="baseColumnList" />
    from time_place
    <include refid="whereClause" />
  </select>
</mapper>